 .equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.main_section {
    padding: 30px 0px;
    margin: 20px 0px;
}

.search_mfund {
    background-color: white;
    width: 80%;
    border: #2e7eed solid 2px;
    border-left-color: #2e7eed;
    border-left-style: solid;
    border-left-width: 2px;
    padding: 10px 20px;
    outline: none;
    border-left: none;
} 

/*================ lumpsum / sip div ==================*/

 .growth-tabs a.nav-link.active:hover {
    border-color: #2e7eed;
}

.growth-tabs a.nav-link:hover {
    border-color: transparent;
}

.growth-tabs a.nav-link.active {
    border: none;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentcolor;
    border-bottom: 3px solid #2e7eed;
    border-bottom-color: rgb(46, 126, 237);
    color: #2e7eed;
}

.sip-amount input {
    width: 100%;
    background: #eef6fe !important;
    border: #eef6fe !important;
    text-align: end;
    font-weight: 600;
    padding-left: 22px;
}

.nav-tabs .nav-item .nav-link.active::before {
    height: 3px;
    background-color: #2e7eed !important;
}

.close {

    right: -4%;
    top: -3%;
    position: absolute;

} 

/************ ======== form gmail like input ==========**********/

.field-wrapper{
    position: relative;
    margin-bottom: 15px;
}

.field-wrapper input, select{
    border: 1px solid #DADCE0;
    padding: 15px;
    border-radius: 4px;
    width: 100%;
}

.field-wrapper .field-placeholder{
    font-size: 16px;
    position: absolute;
    
    bottom: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #80868b;
    left: 8px;
    padding: 0 8px;
    -webkit-transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    z-index: 1;
    text-align: left;
    width: 100%;
}

.field-wrapper .field-placeholder span{

    color: #05499c;
    font-size: 12px;
    background-color: #fff;
    padding: 0 5px;

}

.field-wrapper input:not([disabled]):focus~.field-placeholder
{
    color:#1A73E8;

}

.field-wrapper input {

    height: 10px;
    font-size: 12px;
    color:#1A73E8;

}

.form-control {

    font-size: 12px;
    color:#05499c;

}

.form-control select {

    height: 10px;
    font-size: 12px;
    color:#05499c;

}

.field-wrapper input:not([disabled]):focus~.field-placeholder,
.field-wrapper.hasValue input:not([disabled])~.field-placeholder
{
    -webkit-transform: scale(.75) translateY(-39px) translateX(-60px);
    transform: scale(1) translateY(-15px) translateX(-5px);


}

.field-wrapper input:not([disabled]):focus{
    border:1px solid #05499c;
    background-color: #fff;
    font-size: 12px;

}



.form-content input:hover, .form-content input:focus, .form-content .dropdown-toggle.btn-default:hover, .form-content .dropdown-toggle.btn-default:focus {
    border: 0;
    background-color: #fff;
    color: #05499c;
}



h2.mflist-wrapper a {

    font-size: 14px;
    font-weight: bold;
    color: #0063ba;
}

h2.mflist-wrapper a:hover {

    font-weight: bold;
    color: #309eff;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.mumpar li:hover{

background-color: #2e7eed;
color : #fff;


}

.graph-top form {
    font-size: 18px;
    font-weight: 600;
    color: #919090;
    text-align: center;
}
span.orange {
    color: #f3712f;
}

.graph-top form input {
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #ccc;
    width: 6%;
}

.graph-top form select {
    border: none;
    color: #919090;
    font-weight: 600;
    width: 10%;
    padding: 0;
    text-align: center;
}

.graph-top form input {
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #ccc;
    width: 6%;
    text-align: center;}

/*============ cooomon button css =========*/

 .btn-comm{
     color: #2e7eed;
    border: 1px solid #2e7eed;
}

.btn-comm:hover {

    background-color: #2e7eed;
    color: #fff !important;


}

.growth-class-direct-fund{
    border: 1px solid #ccc;
    box-shadow: 0px 2px 11px -3px #ccc;
    margin-bottom: 30px;
    border-radius: 5px;
    height: 400px;
    position: relative;
    background: #fff;
     top: 15px;
     margin-left: 3%;
}
.sip-amount-h4 h4{
font-size: 15px;
}

.instalment{
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px 17px;
}
.growth-tabs {
    border: 1px solid #ccc;
    box-shadow: 0px 2px 11px -3px #ccc;
    margin-bottom: 30px;
    border-radius: 5px;
    height: 400px;
	position: relative;
	background: #fff;
	/*z-index: 9999; */
    top: 15px;
}
.growth-tabs a.nav-link.active {
    border: none;
    border-bottom: 3px solid #2e7eed;
    color: #2e7eed;
}
.growth-tabs a.nav-link {
    font-weight: 600;
    font-size: 15px;
    color: #000;
	border: none;
	border-bottom: 3px solid transparent;
}
.growth-tabs a.nav-link:hover {
    border-color: transparent;
}
.growth-tabs a.nav-link.active:hover {
    border-color: #2e7eed;
}

.growth-tabs input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.growth-tabs input[type=number] {
  -moz-appearance: textfield;
}
.sip-amount h4 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    text-align:left;
}
.sip-amount input {
    width: 100%;
    background: #eef6fe;
    border: #eef6fe;
    text-align: end;
    font-weight: 600;
    padding-left: 22px;
}
.sip-amount {
    position: relative;
    margin-bottom: 14px;
}
.sip-amount span {
    position: absolute;
    left: 10px;
    top: 2px;
    color: #2e7eed;
}
.sip-amount input[type="date"] {
    font-size: 11px;
    padding: 5px 0px;
}
.instalment {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px 17px;
}
.instalment p {
    font-size: 14px;
    margin-bottom: 8px;
}
.add-to-cart a {
    font-size: 16px;
    font-weight: 600;
    color: #2e7eed;
    text-decoration: none;
}
.start-sip a {
    font-size: 16px;
    font-weight: bold;
    background: #2e7eed;
    color: #fff;
    padding: 9px 30px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}
.add-to-cart {
    margin-top: 9px;
}
.stick {
	position:fixed;
	top:80px;
}


tr.user-custom {
    display: flex;
}
.user-custom td {
    border: 1px solid #2e7eed;
    margin: 0 6px;
    display: inline-block;
    border-radius: 50%;
    height: 70px;
    width: 67px;
    text-align: center !important;
    align-items: center;
    vertical-align: middle;
    padding: unset !important;
display: grid;
}

.growth-tabs a.nav-link.active:hover {
    border-color: #2e7eed;
}
.growth-tabs a.nav-link:hover {
    border-color: transparent;
}
.growth-tabs a.nav-link.active {
    border: none;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentcolor;
    border-bottom: 3px solid #2e7eed;
    border-bottom-color: rgb(46, 126, 237);
    color: #2e7eed;
}


.return-funds .tabcontent {
    padding: unset;
    border: none;
    margin-bottom: 20px;
    box-shadow: unset;
    border-radius: 5px;
}
.return-funds  .tab button {
    font-size: 15px;
}
.return-funds span.collapsed i {
    font-size: 10px;
}
.return-funds td {
    font-size: 15px;
}
table.graph-table tr {
    line-height: 36px;
}
span.orange {
    color: #f3712f;
}
.graph-top form {
    font-size: 18px;
    font-weight: 600;
    color: #919090;
    text-align: center;
}
.graph-top form input {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 6%;
}
.graph-top form select {
    border: none;
    color: #919090;
    font-weight: 600;
    width: 10%;
    padding: 0;
}
.graph-top form select:focus {
    border: none;
    outline: none;
}


/*============ cooomon button css =========*/

.btn-comm {

    color: #2e7eed;
    border: 1px solid #2e7eed;
}

.btn-comm:hover {

    background-color: #2e7eed;
    color: #fff !important;


}

.btn-eduabacus {

    border: 1px solid #05499c;
    padding: 13px 50px;
    border-radius: 100px;
    margin-top: 10%; color: #05499c;

}

.btn-eduabacus:hover {

    background-color: #2e7eed;
    color: #fff !important;

}


.search_mfund {
    background-color: white;
    width: 90%;
    border: #2e7eed solid 2px;
    border-left-color: #2e7eed;
    border-left-style: solid;
    border-left-width: 2px;
    padding: 10px 20px;
    outline: none;
    border-left: none;
    border-radius: 0 20px 20px 0;
}
.instalment-fund-screener{
    letter-spacing: 0;
    line-height: 25px;
    color: #808080;
}
.similar-funds-sub{
    text-align: center;
}
